<div class="innerView">
  <h2>Bluestingray</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet augue vitae leo iaculis rhoncus. Fusce dignissim lacus purus, a pellentesque erat facilisis ac. Mauris metus ipsum, lacinia in vulputate nec, viverra in ipsum. Curabitur rutrum imperdiet elit, ut ornare felis tincidunt vel. Morbi at posuere eros, vitae pharetra purus. In ante turpis, pharetra eget nulla ac, tincidunt pulvinar augue. In hac habitasse platea dictumst. Maecenas vulputate arcu vitae magna ullamcorper dictum.</p>
</div>
<!--

<p>I collaborated with two other employees to create Streatfeast, a mobile friendly web application. It was created to allow food truck owners to communicate their schedule and locations with their customers instead of relying on social media. I learned HTML5, JS, CSS, and PHP, while integrating with the Twitter API, Facebook API, and Google Maps API. The entire internship was a large learning experience with web development. Unfortunately, the resulting product was incomplete at the end of the internship so was not released.</p>

-->
