<!DOCTYPE html>
<html>
	<head>
		<title>Holden Rehg</title>
		<meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="shortcut icon" href="http://faviconist.com/icons/7ffd4798258bbe668d03f1a28afdda13/favicon.ico" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel='stylesheet' href='/stylesheets/main.css' />
	</head>
	<body id="hover">
		<header>
			<ul id="contact">
        <li><a id="home" href="/#landing" title="Home"><i class="fa fa-home"></i></a></li>
				<li><a target="_blank" href="mailto:holdenrehg@gmail.com" title="Email Holden"><i class="fa fa-envelope"></i></a></li>
				<li><a target="_blank" href="../images/Rehg_Resume.pdf" title="Resume"><i class="fa fa-file"></i></a></li>
			</ul>
			<ul id="social">
				<li><a target="_blank" href="http://linkedin.com/in/holdenrehg" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
				<li><a target="_blank" href="http://twitter.com/reedrehg" title="Twitter"><i class="fa fa-twitter"></i></a></li>
				<li><a target="_blank" href="http://github.com/holdenrehg" title="Github"><i class="fa fa-github-alt"></i></a></li>
				<li><a target="_blank" href="https://plus.google.com/112345589054343397477" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
			</ul>
		</header>
		<main>
			<section id="viewContainer">
				<div id="view">
          <div class="messageContainer">
            <i class="fa fa-spin fa-cog"></i>
            <p class="message">loading...</p>
          </div>
				</div>
			</section>
			<div id="timeline">
				<div id="stickmanTick" class="dot" data-view="stickman">
					<div class="tooltip">Stickman Creative</div>
					<div class="yearLabel">05/12</div>
				</div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
        <div id="bluestingrayTick" class="dot" data-view="bluestingray">
          <div class="tooltip">Bluestingray</div>
          <div class="yearLabel">05/13</div>
        </div>
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
				<div id="educationTick" class="dot" data-view="isu">
					<div class="tooltip">Iowa State University</div>
					<div class="yearLabel">08/12</div>
				</div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div id="taTick" class="dot" data-view="ta">
					<div class="tooltip">Teaching Assistance</div>
					<div class="yearLabel">08/13</div>
				</div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div id="webdevTick" class="dot" data-view="webdev">
					<div class="tooltip">Campus Web Dev</div>
					<div class="yearLabel">10/13</div>
				</div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div id="linkedinTick" class="dot" data-view="linkedin">
					<div class="tooltip">Linkedin</div>
					<div class="yearLabel">05/14</div>
				</div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div id="telepharmTick" class="dot" data-view="telepharm">
					<div class="tooltip">Telepharm</div>
					<div class="yearLabel">09/14</div>
				</div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
				<div class="tick"></div>
        <div id="capstoneTick" class="dot" data-view="capstone">
          <div class="tooltip">Senior Design</div>
          <div class="yearLabel">01/15</div>
        </div>
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
				<div id="landingTick" class="dot" data-view="landing">
					<div class="tooltip">Now</div>
				</div>

				<!-- Left / right timeline arrows -->
				<div id="left">
					<i class="fa fa-arrow-left"></i>
				</div>
				<div id="right">
					<i class="fa fa-arrow-right"></i>
				</div>
			</div>
		</main>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="../javascripts/override.js"></script>
		<script type="text/javascript" src="../javascripts/ui.js"></script>
		<script type="text/javascript" src="../javascripts/vendor/google/analytics.js"></script>
    <script type="text/css" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(".fancybox").fancybox();
      });
    </script>
  </body>
</html>