<div class="innerView">
  <h1>Holden Rehg</h1>
  <h6>Coder In Training</h6>
</div>
<section id="tableOfContents" class="innerView grey">
  <h2 class="title">Content</h2>
  <h4 class="entry">
    <a class="name" href="/#stickman">Stickman Creative</a>
    <span class="date">May 2012 - Aug 2012</span>
  </h4>
  <h4 class="entry">
    <a class="name" href="/#bluestingray">Bluestingray</a>
    <span class="date">Summer 2013</span>
  </h4>
  <h4 class="entry">
    <a class="name" href="/#isu">Iowa State University</a>
    <span class="date">May 2012 - Current</span>
  </h4>
  <h4 class="entry">
    <a class="name" href="/#ta">Teaching Assistant</a>
    <span class="date">Aug 2013 - Dec 2013</span>
  </h4>
  <h4 class="entry">
    <a class="name" href="/#webdev">Campus Web Developer</a>
    <span class="date">Oct 2013 - May 2014</span>
  </h4>
  <h4 class="entry">
    <a class="name" href="/#linkedin">LinkedIn</a>
    <span class="date">Summer 2014</span>
  </h4>
  <h4 class="entry">
    <a class="name" href="/#telepharm">TelePharm</a>
    <span class="date">Oct 2014 - Current</span>
  </h4>
  <h4 class="entry">
    <a class="name" href="/#capstone">Senior Design</a>
    <span class="date">Jan 2015 - Current</span>
  </h4>
</section>
<section id="aboutMe" class="innerView">
  <div class="profileContainer"><img class="profile" src="https://lh6.googleusercontent.com/-RXtNNSWIU0w/VG9-pO6bSBI/AAAAAAAACbs/s1Tp3rLWoWk/s900-no/holden.jpg" width="120" /></div>
  <h2 class="title">About Me</h2>
  <p>I am a motivated 20-year-old college student studying software engineering at Iowa State University. Since I started school, I've wanted to make a direct impact on people through technology and software. I have years of experience developing web applications privately for myself as well as professionally. I have worked for LinkedIn developing a CMS used internally, Iowa State University building heavily trafficked websites, Bluestingray developing Android mobile applications, and TelePharm creating big data research and analytics tools. I'm invested in providing a better web experience for people.</p>
</section>

<section id="educationReflection" class="innerView border">
  <i class="fa fa-university big"></i>
  <h2 class="title">My Education</h2>
  <p>I'm studying Software Engineering at Iowa State University. It's my third year and has been a great experience that has opened opportunities that I didn't think would have ever existed for me. I have studying a wide variety of concept including computer architecture, object oriented programming, embedded systems, algorithm design, design patterns, software project management, user interface design, operating systems, big data analysis, database management systems, and machine level programming.</p>
</section>