<div class="innerView">
  <h1>Holden Rehg</h1>
  <h6>Coder In Training</h6>
</div>
<section id="tableOfContents" class="innerView grey">
  <h2 class="title">Summary</h2>
  <h4 class="entry">
    <a class="name" href="#">Discovering Tech</a>
    <span class="date">TODO</span>
  </h4>
  <h4 class="entry">
    <a class="name" href="#">Iowa State University</a>
    <span class="date">TODO</span>
  </h4>
  <h4 class="entry">
    <a class="name" href="#">Bluestingray</a>
    <span class="date">TODO</span>
  </h4>
  <h4 class="entry">
    <a class="name" href="#">Teaching Assistant</a>
    <span class="date">TODO</span>
  </h4>
  <h4 class="entry">
    <a class="name" href="#">Campus Developer</a>
    <span class="date">TODO</span>
  </h4>
  <h4 class="entry">
    <a class="name" href="#">LinkedIn</a>
    <span class="date">TODO</span>
  </h4>
  <h4 class="entry">
    <a class="name" href="#">TelePharm</a>
    <span class="date">TODO</span>
  </h4>
  <h4 class="entry">
    <a class="name" href="#">Now</a>
    <span class="date">TODO</span>
  </h4>
</section>
<section id="aboutMe" class="innerView">
  <div class="profileContainer"><img class="profile" src="https://lh6.googleusercontent.com/-RXtNNSWIU0w/VG9-pO6bSBI/AAAAAAAACbs/s1Tp3rLWoWk/s900-no/holden.jpg" width="120" /></div>
  <h2 class="title">About Me</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat ipsum sed risus mattis, vulputate vestibulum justo aliquet. Phasellus eget tellus ex. In quis ex posuere, tempus nulla tempor, feugiat libero. Nunc aliquam, risus at volutpat aliquet, nulla odio tristique velit, eu vestibulum lorem tortor vitae purus. Sed maximus augue velit, vitae lacinia velit venenatis vel. Nam vel dictum est. Etiam id dapibus risus. Sed dapibus ac est sit amet mollis. Cras pulvinar orci risus, et convallis dolor feugiat sit amet. Nam tempor tincidunt lorem et mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat ipsum sed risus mattis, vulputate vestibulum justo aliquet. Phasellus eget tellus ex. In quis ex posuere, tempus nulla tempor, feugiat libero. Nunc aliquam, risus at volutpat aliquet, nulla odio tristique velit, eu vestibulum lorem tortor vitae purus. Sed maximus augue velit, vitae lacinia velit venenatis vel. Nam vel dictum est. Etiam id dapibus risus. Sed dapibus ac est sit amet mollis. Cras pulvinar orci risus, et convallis dolor feugiat sit amet. Nam tempor tincidunt lorem et mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat ipsum sed risus mattis, vulputate vestibulum justo aliquet. Phasellus eget tellus ex. In quis ex posuere, tempus nulla tempor, feugiat libero. Nunc aliquam, risus at volutpat aliquet, nulla odio tristique velit, eu vestibulum lorem tortor vitae purus. Sed maximus augue velit, vitae lacinia velit venenatis vel. Nam vel dictum est. Etiam id dapibus risus. Sed dapibus ac est sit amet mollis. Cras pulvinar orci risus, et convallis dolor feugiat sit amet. Nam tempor tincidunt lorem et mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
</section>