<div class="innerView">
  <h2>Telepharm</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet augue vitae leo iaculis rhoncus. Fusce dignissim lacus purus, a pellentesque erat facilisis ac. Mauris metus ipsum, lacinia in vulputate nec, viverra in ipsum. Curabitur rutrum imperdiet elit, ut ornare felis tincidunt vel. Morbi at posuere eros, vitae pharetra purus. In ante turpis, pharetra eget nulla ac, tincidunt pulvinar augue. In hac habitasse platea dictumst. Maecenas vulputate arcu vitae magna ullamcorper dictum.</p>
</div>

<div class="innerView grey gallery">
  <h2>Research App</h2>
  <p class="subtitle">September 2014 - Current</p>
</div>

<div class="innerView gallery">
  <h2>Demo</h2>
  <p class="subtitle">December 2014 - Current</p>
  <img src="/images/telepharm/telecounsel.png" alt=""/>
  <img src="/images/telepharm/workflow.png" alt=""/>
  <img src="/images/telepharm/tablet_prescriptions.png" alt=""/>
  <img src="/images/telepharm/pharmacy_dashboard.png" alt=""/>
  <img src="/images/telepharm/pharmacy_dashboard.png" alt=""/>
  <img src="/images/telepharm/pharmacy_dashboard.png" alt=""/>
</div>