<div class="innerView">
  <h2>Web Dev - Iowa State University</h2>
  <p class="subtitle">October 2013 - May 2014</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet augue vitae leo iaculis rhoncus. Fusce dignissim lacus purus, a pellentesque erat facilisis ac. Mauris metus ipsum, lacinia in vulputate nec, viverra in ipsum. Curabitur rutrum imperdiet elit, ut ornare felis tincidunt vel. Morbi at posuere eros, vitae pharetra purus. In ante turpis, pharetra eget nulla ac, tincidunt pulvinar augue. In hac habitasse platea dictumst. Maecenas vulputate arcu vitae magna ullamcorper dictum.</p>
</div>
<!--

<p>When school is in session, I work at Iowa State University Web Development. It is a division of IT on the Iowa State campus which acts as an internal agency to other departments. I work on small teams of 3-5 developers who meet with clients, gather requirements and then design, implement, and maintain various web applications. I help maintain sites such as <a target="_blank" href="http://it.iastate.edu">Iastate IT</a> which was written using Zend 1, and also am currently integrating an internal tool with Jira using the Jira REST API, <a target="_blank" href="http://framework.zend.com/">Zend 2</a>, <a target="_blank" href="http://www.doctrine-project.org/">Doctrine</a>, and <a target="_blank" href="https://getcomposer.org/">Composer</a>.</p>

-->