header {
    @extend %borderBox;
    position: absolute;
    width: 100%;
    top: 0;
    padding: 14px 20px;
    left: 0;
    #social {
        float: right;
        li {
            display: inline;
            margin: 0 5px;
            i {
                font-size: 26px;
                color: $filler;
                transition: color .3s;
                &:hover {
                    color: $secondary;
                    transition: color .3s;
                }
            }
        }
    }
}
section {
    @include flex(column);
    height: 100%;
    text-align: center;
    &#viewContainer {
        width: 100%;
        &.fadeOut {
            opacity: 0;
            transition: opacity .4s;
        }
        &.fadeIn {
            opacity: 1;
            transition: opacity .4s;
        }
    }
    #view {
        overflow-y: auto;
        padding: 0 80px ($timelineHeight + 20px) 80px;
    }
}