header {
    @extend %borderBox;
    position: absolute;
    width: 100%;
    top: 0;
    padding: 14px 20px;
    left: 0;
    #social, #contact {
        li {
            display: inline;
            margin: 0 5px;
            i {
                font-size: 26px;
                color: $secondary;
                opacity: .5;
                transition: opacity .3s;
                &:hover {
                    opacity: 1;
                    transition: opacity .3s;
                }
            }
        }
    }
    #social {
        float: right;
    }
    #contact {
        float: left;
    }
}
section {
    @include flex(column);
    height: 100%;
    text-align: center;
    &#viewContainer {
        width: 100%;
        &.fadeOut {
            opacity: 0;
            transition: opacity .4s;
        }
        &.fadeIn {
            opacity: 1;
            transition: opacity .4s;
        }
    }
    #view {
        overflow-y: auto;
        padding: 0 280px ($timelineHeight + 20px) 280px;
    }
}
.profileContainer {
    background: #41C3AC;
    display: inline-block;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 6px;
    .profile {
        border-radius: 50%;
    }
}
