#timeline {
    @extend %borderBox;
    background: $primary;
    position: absolute;
    bottom: 0;
    height: $timelineHeight;
    width: 100%;
    min-width: $minWidth;
    padding: 30px;
    text-align: center;
    .tick, .dot {
        display: inline-block;
    }
    .tick {
        margin: 0 2px;
        width: 2px;
        height: 14px;
        background: #eee;
        transition: opacity .3s;
        &.grow {
            width: 2px;
            opacity: .4;
            transition: opacity .3s;
        }
    }
    .dot {
        margin: 0 6px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: $filler;
        cursor: pointer;
        position: relative;
        transition: background .3s;
        &.current {
            background: $secondary;
        }
        &:hover {
            background: $secondary;
            transition: background .3s;
        }
    }
    .tooltip {
        position: absolute;
        background: $greyDark;
        color: $white;
        top: -60px;
        width: 120px;
        left: -59px;
        padding: 5px;
        border-radius: 3px;
        display: none;
        font-size: 10px;
        &:after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(102, 102, 102, 0);
            border-top-color: $greyDark;
            border-width: 12px;
            margin-left: -12px;
        }
    }
    .yearLabel {
        position: absolute;
        color: #eee;
        font-size: 12px;
        bottom: -24px;
        left: -6px;
    }
    #left, #right {
        position: absolute;
        height: 100%;
        width: 40px;
        top: 0;
        background: $primary;
        color: #fff;
        cursor: pointer;
        transition: color .3s, background .3s;
        i {
            padding-top: 44px;
        }
        &:hover {
            background: $white;
            color: $primary;
            transition: color .3s, background .3s;
        }
    }
    #left {
        left: 0;
    }
    #right {
        right: 0;
    }
}
