p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2.6em;
    font-weight: 500;
}
h2 {
    font-size: 2.5em;
    font-weight: 300;
}
h3 {
    position: relative;
    font-size: 22px;
    font-weight: 600;
}
h4 {
    font-size: 1.5em;
    font-weight: 300;
    color: #6592AC;
}
h5 {
    font-size: 3.0em;
    font-weight: 600;
}
p {
    font-size: 14px;
    font-weight: 200;
}
@media all and (max-width: 450px) {
    h5 {
        font-size: 3.0em;
    }
}
@media all and (max-width: 300px) {
    h5 {
        font-size: 2.5em;
    }
}
