@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,600italic,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,300,100,500,600,700,800);

/* General */

html,body,main{
	height:100%;
	min-width:900px;
}

html,body{
	padding:0;
	margin:0;
}

body {
  font: 12px 'Raleway', sans-serif;
  color: #DEDEDE;
}

section{
	min-height:500px;
}

#footer-social{
	padding-top:30px;
}

#footer-social .fa{
	margin-right:25px;
}

a {
  color: #697980;
  text-decoration: underline;
}

a:hover {
  color: #ccc;
  cursor:pointer;
  text-decoration: none;
}

ul{
	list-style: none;
}

.circle li{
	line-height: 100px;
	width: 100px;
	height:100px;
	border-radius: 50%;
	border: 2px solid #697980;
	background:#f5f5f5;
}

#footer-social li{
	cursor:pointer;
}

#work li{
	width:15%;
	height:200px;
	background:#fff;
	border-radius: 2px;
	padding-top:10px;
}

.circle li:hover,
.circle-active{
	background: #697980 !important;
	color: #fff;
	cursor:pointer;
}

li{
	display: inline-block;
}

li:hover{
	color: #697980;
	cursor:pointer;
}

/* Fonts */

p,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}

h1{
	font-size:2.5em;
	font-weight:300;
}

h2{
	font-size:2.5em;
	font-weight:300;
}

h3{
	position:absolute;
	font-size:22px;
	font-weight:400;
}

h4{
	font-size:20px;
	font-weight:300;
	color:#697980;
}

h5{
	font-size:3.8em;
	font-weight: 400;
}

p{
	font-size:13px;
	font-weight:200;
}

#work-info{
	color:#697980f; 
	font-weight:400; 
	max-width:750px; 
	margin-left:auto; 
	margin-right:auto;
}

.fa:not(.dark):not(.blue):not(#laptop){
	margin:0 35px 0 5px;
	border-radius:50%;
	font-weight:100;
	color:#fff;
}

.fa:hover{
	color:#ccc !important;
	cursor:pointer;
}

#laptop,
.blue{
	color:#697980;
}

.dark{
	color:#ccc;
}

.dark:hover{
	color:#666 !important;
}

.fa-pad{
	margin:30px 0 30px 0;
}

/* Grids */

.grid-4{
	display:inline-block; 
	width: 24%;
}

.grid-5{
	display:inline-block;
	width:19%;
}


/* Containers */

#work{
	width:79%;	
}

#work-info{
	color: #697980;
}

#left-arrow,
#right-arrow{
	width:10%;
	padding:0;
	margin:0;
}

#left-arrow{
	text-align:right;
}

#right-arrow{
	text-align:left:;
}

#title-con{
	position:absolute;
	width:100%;
	top:35%;
	left:0;
	z-index: 1;
}

#toolbelt{
	margin-top:100px;
	padding:0;
}

.ignore-header{
	height:50px;
}

.white-con,
.light-grey-con,
.grey-con{
	height:100%;
	padding:0 40px 0 40px;
	overflow:hidden;
}

.white-con,
.light-grey-con{
	color: #1F1F1F;
}


.white-con{
	background:#fff;
}

.light-grey-con{
	background: url('../images/linen.png');
}

.grey-con{
	background: url('../images/black-linen.png');
}

.center-con{
	text-align:center;
	height:100%;
}

.center{
	margin-left:auto;
	margin-right:auto;
}

header{
	background:#697980;
	opacity:.95;
	padding:10px;
	text-align:center;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:30px;
	z-index: 2;
}

.underline{
	border-bottom:4px solid #697980;
}

.break{
	padding-top:100px;
}

.center-break{
	padding-top:12em;
	/*padding-top:25%;*/
}

.wrap{
	width:75%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
}