/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,600italic,400,600,700);*/

/*@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,300,100,500,600,700,800);*/

/* General */

html {
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */
}
html, body, main, header {
    min-width: 260px;
}
html, body, main {
    height: 100%;
}
html, body, ul {
    padding: 0;
    margin: 0;
}
body {
    font: 12px'Open Sans', sans-serif;
    color: #DEDEDE;
}
#left-arrow, #right-arrow, #footer-social li, #hover .circle li:hover, #hover .circle-active, #hover .fa:hover, #hover li:hover, #hover a:hover {
    cursor: pointer;
}
#left-arrow, #right-arrow, #slider-display, .grid-4, .grid-5, li {
    display: inline-block;
}
section {
    min-height: 500px;
}
#footer-social {
    padding-top: 30px;
}
#footer-social .fa {
    margin-right: 10px;
    margin-left: 13px;
}
@media all and (max-width: 380px) {
    #footer-social li {
        width: 49%;
    }
}
img:hover {
    cursor: pointer;
    opacity: .5;
    transition: opacity .25s ease-in-out;
}
a {
    color: #6592AC;
    text-decoration: underline;
}
#hover a:hover {
    color: #ccc;
    text-decoration: none;
}
ul {
    list-style: none;
}
.circle li {
    line-height: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #6592AC;
    background: #f5f5f5;
    opacity: .4;
}
#slider-display li {
    width: 15%;
    height: 200px;
    background: #fff;
    border-radius: 2px;
    padding-top: 10px;
}
#hover .circle li:hover, .circle-active {
    background: #6592AC !important;
    color: #fff;
    opacity: 1 !important;
    transition: background .05s ease-in-out;
}
#hover li:hover {
    color: #6592AC;
}
/* Fonts */

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2.6em;
    font-weight: 500;
}
h2 {
    font-size: 2.5em;
    font-weight: 300;
}
h3 {
    position: relative;
    font-size: 22px;
    font-weight: 600;
}
h4 {
    font-size: 1.5em;
    font-weight: 300;
    color: #6592AC;
}
h5 {
    font-size: 3.0em;
    font-weight: 600;
}
p {
    font-size: 14px;
    font-weight: 200;
}
@media all and (max-width: 450px) {
    h5 {
        font-size: 3.0em;
    }
}
@media all and (max-width: 300px) {
    h5 {
        font-size: 2.5em;
    }
}
#display-info {
    font-weight: 300;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 20px;
}
.fa:not(.dark):not(.blue):not(#laptop) {
    padding: 0 15px;
    border-radius: 50%;
    font-weight: 100;
    color: #fff;
}
#hover .fa:hover {
    color: #ccc !important;
}
#laptop, .blue {
    color: #6592AC;
}
.dark {
    color: #ccc;
}
#hover .dark:hover {
    color: #666 !important;
}
.fa-pad {
    margin: 30px 0 30px 0;
}
/* Grids */

.row {
    width: 100%;
    min-height: 250px;
}
.grid-4 {
    width: 24%;
}
.grid-5 {
    width: 19%;
}
@media all and (max-width: 650px) {
    .grid-4, .grid-5 {
        width: 100% !important;
    }
}
/* Containers */

#slider-display {
    width: 75%;
    padding-top: 80px;
}
#experience-sec {
    height: auto !important;
    /* handle changing content size for project images */
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contract-sec {
    display: flex;
    align-items: center;
    justify-content: center;
}
#contract-sec > .center-con {
    width: auto;
    height: auto;
}
#left-arrow, #right-arrow {
    position: relative;
    width: 10%;
    margin-top: 120px;
    vertical-align: top;
    text-align: center;
}
#left-arrow {
    left: 0;
}
#right-arrow {
    right: 0;
}
#title-con {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 0;
    z-index: 1;
}
#toolbelt {
    padding: 0;
}
.ignore-header {
    height: 50px;
}
.white-con, .light-grey-con, .grey-con {
    height: 100%;
    padding: 0 40px 15px 40px;
    overflow: hidden;
}
.white-con, .light-grey-con {
    color: #1F1F1F;
}
.white-con {
    background: #fff;
}
.light-grey-con {
    background: url('../images/linen.png');
}
.grey-con {
    background: url('../images/black-linen.png');
}
.center-con {
    text-align: center;
    height: 100%;
    width: 100%;
}
#experience-sec > .center-con {
    padding: 20px 0 40px 0;
    min-height: 450px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
header {
    background: #6592AC;
    opacity: .95;
    padding: 8px 0 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 2;
}
.center-break {
    padding-top: 9.5em;
}
.wrap {
    width: 75%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
