@import 'mixins';
@import 'reset';
@import 'fonts';

$blue:#6592AC;
$grey:#DEDEDE;
$darkGrey:#666666;
$light:#FFFFFF;
$textHover:#CCCCCC;
$homeBackground:url('../images/black-linen.png');
$experienceBackground:url('../images/linen.png');

html {
    // disable highlighting text
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    body {
        font: 12px'Open Sans', sans-serif;
        color: $grey;
        img: hover {
            cursor: pointer;
            opacity: .5;
            transition: opacity .25s ease-in-out;
        }
        a {
            color: $blue;
            text-decoration: underline;
            &:hover {
                color: $textHover;
                text-decoration: none;
            }
        }
        header {
            background: $blue;
            opacity: .95;
            padding: 8px 0 10px 0;
            text-align: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 20px;
            z-index: 2;
            nav {
                @include flex(row);
            }
        }
        section {
            height: 100%;
            padding: 0 40px 15px 40px;
            overflow: hidden;
            &#home {
                @include flex(column);
                background: $homeBackground;
                #title {
                    text-align: center;
                }
            }
            &#experience {
                @include flex(column);
                @include lightBackground();
                background: $experienceBackground;
                min-height: 100%;
                #toolbelt {
                    margin: 30px 0 0 0;
                    li {
                        @include circle();
                        text-align: center;
                        margin: 0 40px;
                        @media all and (max-width: 650px) {
                            display: block;
                            margin: 0;
                        }
                    }
                }
                #slider {
                    @include flex(row);
                    width: 100%;
                    min-height: 250px;
                    #slider-display {
                        text-align: center;
                        width: 79%;
                        #display-info {
                            font-weight: 300;
                            max-width: 750px;
                            margin: 0 auto;
                            padding-top: 20px;
                        }
                    }
                    #left-arrow, #right-arrow {
                        position: relative;
                        vertical-align: top;
                        width: 10%;
                        margin-top: 120px;
                        text-align: center;
                    }
                }
            }
            &#contact {
                @include flex(column);
                @include lightBackground();
                #footer-social {
                    padding-top: 30px;
                    .fa {
                        margin-right: 10px;
                        margin-left: 13px;
                    }
                    @media all and (max-width: 380px) {
                        & li {
                            display: block;
                        }
                    }
                }
            }
        }
        .ignore-header {
            height: 50px;
        }
        .fa-pad {
            margin: 30px 0 30px 0;
        }
        // icons
        .fa {
            &:not(.dark):not(.blue):not(#laptop) {
                padding: 0 15px;
                border-radius: 50%;
                font-weight: 100;
                color: $light;
            }
            &.dark {
                color: $textHover;
                &:hover {
                    color: $darkGrey !important;
                }
            }
            &#laptop, &.blue {
                color: $blue;
            }
            &:hover {
                color: $textHover !important;
            }
        }
        #left-arrow, #right-arrow, #footer-social li, #hover .circle li:hover, #hover .circle-active, #hover .fa:hover, #hover li:hover, #hover a:hover {
            cursor: pointer;
        }
        #left-arrow, #right-arrow, #slider-display, li {
            display: inline-block;
        }
    }
}
