/* $white: #fafaf8; */
/* $black: #3c366b; */

/* roboto-condensed-300 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-condensed-v18-latin-300.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
    url('../fonts/roboto-condensed-v18-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/roboto-condensed-v18-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/roboto-condensed-v18-latin-300.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/roboto-condensed-v18-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/roboto-condensed-v18-latin-300.svg#RobotoCondensed') format('svg');
  /* Legacy iOS */
}

/* roboto-condensed-300italic - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/roboto-condensed-v18-latin-300italic.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'),
    url('../fonts/roboto-condensed-v18-latin-300italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/roboto-condensed-v18-latin-300italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/roboto-condensed-v18-latin-300italic.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/roboto-condensed-v18-latin-300italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/roboto-condensed-v18-latin-300italic.svg#RobotoCondensed') format('svg');
  /* Legacy iOS */
}

/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-condensed-v18-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
    url('../fonts/roboto-condensed-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/roboto-condensed-v18-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/roboto-condensed-v18-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/roboto-condensed-v18-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/roboto-condensed-v18-latin-regular.svg#RobotoCondensed') format('svg');
  /* Legacy iOS */
}

/* roboto-condensed-italic - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto-condensed-v18-latin-italic.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'),
    url('../fonts/roboto-condensed-v18-latin-italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/roboto-condensed-v18-latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/roboto-condensed-v18-latin-italic.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/roboto-condensed-v18-latin-italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/roboto-condensed-v18-latin-italic.svg#RobotoCondensed') format('svg');
  /* Legacy iOS */
}

/* roboto-condensed-700 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-condensed-v18-latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
    url('../fonts/roboto-condensed-v18-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/roboto-condensed-v18-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/roboto-condensed-v18-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/roboto-condensed-v18-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/roboto-condensed-v18-latin-700.svg#RobotoCondensed') format('svg');
  /* Legacy iOS */
}

/* roboto-condensed-700italic - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/roboto-condensed-v18-latin-700italic.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'),
    url('../fonts/roboto-condensed-v18-latin-700italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/roboto-condensed-v18-latin-700italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/roboto-condensed-v18-latin-700italic.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/roboto-condensed-v18-latin-700italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/roboto-condensed-v18-latin-700italic.svg#RobotoCondensed') format('svg');
  /* Legacy iOS */
}

/* vollkorn-regular - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/vollkorn-v12-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/vollkorn-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/vollkorn-v12-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/vollkorn-v12-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/vollkorn-v12-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/vollkorn-v12-latin-regular.svg#Vollkorn') format('svg');
  /* Legacy iOS */
}

/* vollkorn-500 - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/vollkorn-v12-latin-500.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/vollkorn-v12-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/vollkorn-v12-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/vollkorn-v12-latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/vollkorn-v12-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/vollkorn-v12-latin-500.svg#Vollkorn') format('svg');
  /* Legacy iOS */
}

/* vollkorn-600 - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/vollkorn-v12-latin-600.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/vollkorn-v12-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/vollkorn-v12-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/vollkorn-v12-latin-600.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/vollkorn-v12-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/vollkorn-v12-latin-600.svg#Vollkorn') format('svg');
  /* Legacy iOS */
}

/* vollkorn-700 - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/vollkorn-v12-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/vollkorn-v12-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/vollkorn-v12-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/vollkorn-v12-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/vollkorn-v12-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/vollkorn-v12-latin-700.svg#Vollkorn') format('svg');
  /* Legacy iOS */
}

/* vollkorn-800 - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/vollkorn-v12-latin-800.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/vollkorn-v12-latin-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/vollkorn-v12-latin-800.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/vollkorn-v12-latin-800.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/vollkorn-v12-latin-800.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/vollkorn-v12-latin-800.svg#Vollkorn') format('svg');
  /* Legacy iOS */
}

/* vollkorn-900 - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/vollkorn-v12-latin-900.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/vollkorn-v12-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/vollkorn-v12-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/vollkorn-v12-latin-900.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/vollkorn-v12-latin-900.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/vollkorn-v12-latin-900.svg#Vollkorn') format('svg');
  /* Legacy iOS */
}

/* vollkorn-italic - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/vollkorn-v12-latin-italic.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/vollkorn-v12-latin-italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/vollkorn-v12-latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/vollkorn-v12-latin-italic.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/vollkorn-v12-latin-italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/vollkorn-v12-latin-italic.svg#Vollkorn') format('svg');
  /* Legacy iOS */
}

/* vollkorn-500italic - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/vollkorn-v12-latin-500italic.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/vollkorn-v12-latin-500italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/vollkorn-v12-latin-500italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/vollkorn-v12-latin-500italic.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/vollkorn-v12-latin-500italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/vollkorn-v12-latin-500italic.svg#Vollkorn') format('svg');
  /* Legacy iOS */
}

/* vollkorn-600italic - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/vollkorn-v12-latin-600italic.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/vollkorn-v12-latin-600italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/vollkorn-v12-latin-600italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/vollkorn-v12-latin-600italic.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/vollkorn-v12-latin-600italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/vollkorn-v12-latin-600italic.svg#Vollkorn') format('svg');
  /* Legacy iOS */
}

/* vollkorn-700italic - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/vollkorn-v12-latin-700italic.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/vollkorn-v12-latin-700italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/vollkorn-v12-latin-700italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/vollkorn-v12-latin-700italic.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/vollkorn-v12-latin-700italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/vollkorn-v12-latin-700italic.svg#Vollkorn') format('svg');
  /* Legacy iOS */
}

/* vollkorn-800italic - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/vollkorn-v12-latin-800italic.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/vollkorn-v12-latin-800italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/vollkorn-v12-latin-800italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/vollkorn-v12-latin-800italic.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/vollkorn-v12-latin-800italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/vollkorn-v12-latin-800italic.svg#Vollkorn') format('svg');
  /* Legacy iOS */
}

/* vollkorn-900italic - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/vollkorn-v12-latin-900italic.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/vollkorn-v12-latin-900italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/vollkorn-v12-latin-900italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/vollkorn-v12-latin-900italic.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/vollkorn-v12-latin-900italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/vollkorn-v12-latin-900italic.svg#Vollkorn') format('svg');
  /* Legacy iOS */
}

/* knewave-regular - latin */
@font-face {
  font-family: 'Knewave';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/knewave-v8-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Knewave'), local('Knewave-Regular'),
    url('../fonts/knewave-v8-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/knewave-v8-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/knewave-v8-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/knewave-v8-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/knewave-v8-latin-regular.svg#Knewave') format('svg');
  /* Legacy iOS */
}

@keyframes blink {
  25% {
    opacity: 0.25;
  }

  55% {
    opacity: 0.55;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 0.75s linear infinite;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-roboto {
  @apply tracking-wider;
  font-family: 'Roboto Condensed';
}

.text-vollkorn {
  font-family: 'Vollkorn';
}

.text-knewave {
  font-family: 'Knewave';
}

.text-helvetica {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.phone-number:before {
  content: attr(title);
}

.content-wrapper {
  @apply w-full;
  max-width: 1200px;
}

@media (min-width: 1200px) {
  .content-wrapper {
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0 !important;
    right: 0 !important;
  }
}

.blink {
  animation: blink 2.2s linear infinite;
}

html,
body {
  background: #fafaf8;
}

html {
  @apply tracking-normal;
  font-family: 'Roboto Condensed', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

main {}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  min-width: 320px !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button,
input {
  overflow: visible;
}

input:disabled,
textarea:disabled,
button:disabled {
  @apply opacity-25;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

dt {
  font-weight: bold;
}

th {
  font-weight: bold;
}

li {
  margin-bottom: calc(1.45rem / 2);
}

ol {
  list-style-type: decimal;
}

ol li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

li>ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

li>ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li>p {
  margin-bottom: calc(1.45rem / 2);
}

code {
  line-height: 1.45rem;
}

kbd {
  line-height: 1.45rem;
}

samp {
  line-height: 1.45rem;
}

abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

thead {
  text-align: left;
}

td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

pre code {
  background: none;
  line-height: 1.42;
}

code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

/*
 ===============================================================================
 Index Page Styles
 ===============================================================================
 */

.min-h-400 {
  min-height: 400px;
}

.min-h-950 {
  min-height: 950px;
}

.max-h-26r {
  max-height: 26rem;
}

/*
 ===============================================================================
 Blog Article Styles
 ===============================================================================
 */

.blog-article .blog-article-content p,
.blog-article .blog-article-content blockquote {
  @apply my-6 text-base;
  line-height: 1.75;

}

@screen md {

  .blog-article .blog-article-content p,
  .blog-article .blog-article-content blockquote {
    @apply text-lg;
  }
}

/* Headers */
.blog-article .blog-article-content h2 {
  @apply text-2xl font-extrabold mt-16;
}

@screen md {
  .blog-article .blog-article-content h2 {
    @apply text-4xl;
  }
}

.blog-article .blog-article-content h3 {
  @apply text-xl font-extrabold mt-16;

}

@screen md {
  .blog-article .blog-article-content h3 {
    @apply text-2xl;
  }
}

.blog-article .blog-article-content h4 {
  @apply text-xl text-gray-800 font-extrabold mt-16 mb-2;

}

/* First letter of article */
.blog-article .blog-article-content .first-letter {
  @apply inline-block text-6xl font-extrabold -mt-6 pr-2 h-16 float-left;
}

/* Standard paragraphs */
.blog-article .blog-article-content p {}

/* Links */
.blog-article .blog-article-content a {
  @apply mx-1 underline;
}

.blog-article .blog-article-content a:hover {
  @apply opacity-75;
}

/* Quotes */
.blog-article .blog-article-content blockquote {
  @apply italic pl-6 border-l-2 border-gray-600;
}

/* Lists */
.blog-article .blog-article-content .table-of-contents {
  @apply pl-3 pb-5 text-base;
}

@screen md {
  .blog-article .blog-article-content .table-of-contents {
    @apply text-xl;
  }
}

.blog-article .blog-article-content .table-of-contents a {
  @apply no-underline;
}

.blog-article .blog-article-content .table-of-contents li {
  list-style: none;
}

.blog-article .blog-article-content .table-of-contents li::before {
  content: '';

  @apply bg-orange-400 mr-2 align-middle;
  display: inline-block;
  width: 6px;
  height: 6px;
}

.blog-article .blog-article-content ul,
.blog-article .blog-article-content ol {
  @apply pl-3;

}

@screen md {

  .blog-article .blog-article-content ul,
  .blog-article .blog-article-content ol {
    @apply pl-12;
  }
}

.blog-article .blog-article-content ul {
  @apply list-disc;
}

.blog-article .blog-article-content ol {
  @apply list-decimal;
}

/* Code blocks */
.blog-article .blog-article-content code {
  @apply px-1 mx-1;
  background-color: #efefed;
}

.blog-article .blog-article-content code.console,
.blog-article .blog-article-content code.python,
.blog-article .blog-article-content code.dockerfile,
.blog-article .blog-article-content code.sql,
.blog-article .blog-article-content code.nginx,
.blog-article .blog-article-content code.html,
.blog-article .blog-article-content code.xml,
.blog-article .blog-article-content code.javascript {
  background: transparent;
}

/* Styles currently assuming the night-owl theme */

.blog-article .blog-article-content code pre.hljs {
  @apply m-0;

  font-size: 12px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 1.52;
}

@screen md {
  .blog-article .blog-article-content code pre.hljs {
    font-size: 15px;
    padding-left: 36px;
    padding-right: 36px;
    line-height: 1.52;
  }
}

.blog-article .blog-article-content code pre.hljs * {
  font-style: normal !important;
}

.blog-article .blog-article-content code pre.hljs .hljs-comment {
  color: #fff;
  opacity: 0.66;
}

.blog-article .blog-article-content code pre.hljs .hljs-literal {
  color: #c792ea;
}

/* Images */
.blog-article .blog-article-content figure {
  @apply my-16 mx-0 px-0;
}

.blog-article .blog-article-content figcaption {
  @apply text-sm text-gray-700 mt-3;
}

iframe[src*="ads-iframe"] {
  display: none !important
}
