$primary: #474E5D;
$primaryDark: #373E4D;
$secondary: #41C3AC;
$greyDark: #2E2E2E;
$shark : #555555;
$stingray: #888888;
$slate: #777777;
$silver: #B8B8B9;
$filler: #EEEEEE;
$alabaster: #FAFAFA;
$fillerDark: #DDDDDD;
$white: #FFFFFF;