p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: $filler;
}
h1 {
    font-size: 90px;
    font-weight: 800;
    color: $primary;
}
h2 {
	font-size: 32px;
    font-weight: 800;
    color: $primary;
    margin-bottom: 10px;
}
h5 {
	font-size: 30px;
	color: $primary;
}
h6 {
    font-size: 14px;
    font-weight: 600;
    color: $white;
    background: $secondary;
    display: inline-block;
	padding: 10px 14px;
	text-transform: uppercase;
}
p {
	font-size: 14px;
	color: $greyDark;
}
.fancy {
	font-family: 'Lobster';
}
